gunicorn==20.0.4
asgiref==3.2.10
Django==3.1.2
django-cors-headers==3.5.0
djangorestframework==3.12.1
flake8==3.6.0
mccabe==0.6.1
pycodestyle==2.4.0
pyflakes==2.0.0
pytz==2020.1
sqlparse==0.4.1
Flask == 1.1.2
python-decouple==3.1
django-storages ==1.10.1
boto3 ==1.16.2
psycopg2 ==2.8.6
Pillow ==8.0.0
dj-database-url == 0.5.0
pipenv == 2020.8.13
uWSGI == 2.0.19.1